<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About Page</h1>
        <div>
            <img src="{% static "images/skydiver1.jpg" %}" alt="Picture of a skydiver" width = 500 />
            <br>This tutorial has been put together by Kendra Swanson. <br>
        </div>
        <div>
            <a href="/rango/">Index</a><br>
            <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a cat." width=300 />
        </div>
    </body>
</html>
